/.idea/
/bhargava
/chromedriver
/douson_practice
/euler
/firefoxdriver
/venv
/geckodriver.log
/girls_costumes_sel.html
/partycity/index.html
/partycity/geckodriver.log
/partycity/girls_costumes_sel.html
/partycity/index_selenium.html



